@import "~styles/variables";

.button {
  box-sizing: border-box;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;

  text-align: center;

  border: none;

  cursor: pointer;

  &__inner {
    display: block;
    padding: 0 4px;
    padding-top: 0.5px;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &:disabled {
    pointer-events: none;
  }

  &--small {
    padding: 5px 12px;

    font-size: 13px;
    font-weight: 500;
    line-height: 140%;

    border-radius: 8px;

    &__inner {
      height: 20px;
    }
  }

  &--medium {
    padding: 7.5px 12px;

    font-size: 15px;
    font-weight: 600;
    line-height: 130%;

    border-radius: 8px;

    &__inner {
      height: 21px;
    }
  }

  &--large {
    padding: 12px 12px;

    font-size: 16px;
    font-weight: 600;
    line-height: 140%;

    border-radius: 12px;

    &__inner {
      height: 24px;
    }
  }

  &--regular {
    &--primary {
      background-color: $background-accent-primary !important;

      color: $text-text-contrast !important;

      &:hover {
        background-color: $state-background-accent-hover !important;
      }

      &:active {
        background-color: $state-background-accent-active !important;
      }

      &:disabled {
        opacity: 0.5;
      }
    }

    &--secondary {
      background-color: $background-accent-secondary !important;

      color: $text-text-accent !important;

      &:hover {
        color: $state-background-accent-hover !important;
      }

      &:active {
        color: $state-background-accent-active !important;
      }

      &:disabled {
        opacity: 0.64;
      }
    }

    &--tertiary {
      background-color: transparent !important;

      color: $text-text-accent !important;

      &:hover {
        background-color: $state-secondary-hover !important;
      }

      &:active {
        background-color: $state-background-gray-active !important;
      }

      &:disabled {
        opacity: 0.64;
      }
    }

    &--outlined {
      background-color: transparent !important;

      color: $text-text-accent !important;

      box-shadow: inset 0 0 0 1.5px $stroke-stroke-accent;

      &:hover {
        background-color: $state-secondary-hover !important;
      }

      &:active {
        background-color: $state-background-gray-active !important;
      }

      &:disabled {
        opacity: 0.64;
      }
    }
  }

  &--positive {
    &--primary {
      background-color: $background-positive-primary !important;

      color: $text-text-contrast !important;

      &:hover {
        background-color: $state-background-positive-hover !important;
      }

      &:active {
        background-color: $state-background-positive-active !important;
      }

      &:disabled {
        opacity: 0.5;
      }
    }

    &--secondary {
      background-color: $background-positive-secondary !important;

      color: $text-text-positive !important;

      &:hover {
        color: $state-background-positive-hover !important;
      }

      &:active {
        color: $state-background-positive-active !important;
      }

      &:disabled {
        opacity: 0.64;
      }
    }

    &--tertiary {
      background-color: transparent !important;

      color: $text-text-positive !important;

      &:hover {
        background-color: $state-secondary-hover !important;
      }

      &:active {
        background-color: $state-background-gray-active !important;
      }

      &:disabled {
        opacity: 0.64;
      }
    }

    &--outlined {
      background-color: transparent !important;

      color: $text-text-accent !important;

      box-shadow: inset 0 0 0 1.5px $stroke-stroke-positive;

      &:hover {
        background-color: $state-secondary-hover !important;
      }

      &:active {
        background-color: $state-background-gray-active !important;
      }

      &:disabled {
        opacity: 0.64;
      }
    }
  }

  &--negative {
    &--primary {
      background-color: $background-negative-primary !important;

      color: $text-text-contrast !important;

      &:hover {
        background-color: $state-background-negative-hover !important;
      }

      &:active {
        background-color: $state-background-negative-active !important;
      }

      &:disabled {
        opacity: 0.5;
      }
    }

    &--secondary {
      background-color: $background-negative-secondary !important;

      color: $text-text-negative !important;

      &:hover {
        color: $state-background-negative-hover !important;
      }

      &:active {
        color: $state-background-negative-active !important;
      }

      &:disabled {
        opacity: 0.64;
      }
    }

    &--tertiary {
      background-color: transparent !important;

      color: $text-text-negative !important;

      &:hover {
        background-color: $state-secondary-hover !important;
      }

      &:active {
        background-color: $state-background-gray-active !important;
      }

      &:disabled {
        opacity: 0.64;
      }
    }

    &--outlined {
      background-color: transparent !important;

      color: $text-text-negative !important;

      box-shadow: inset 0 0 0 1.5px $stroke-stroke-negative;

      &:hover {
        background-color: $state-secondary-hover !important;
      }

      &:active {
        background-color: $state-background-gray-active !important;
      }

      &:disabled {
        opacity: 0.64;
      }
    }
  }

  &--neutral {
    &--primary {
      background-color: $background-gray !important;

      color: $text-text-primary !important;

      &:hover {
        background-color: $state-secondary-hover !important;
      }

      &:active {
        background-color: $state-background-gray-active !important;
      }

      &:disabled {
        opacity: 0.5;
      }
    }

    &--secondary {
      background-color: $background-gray !important;

      color: $text-text-primary !important;

      &:hover {
        background-color: $state-secondary-hover !important;
      }

      &:active {
        background-color: $state-background-gray-active !important;
      }

      &:disabled {
        opacity: 0.64;
      }
    }

    &--tertiary {
      background-color: transparent !important;

      color: $text-text-primary !important;

      &:hover {
        color: $state-background-accent-hover !important;
      }

      &:active {
        color: $state-background-accent-active !important;
      }

      &:disabled {
        opacity: 0.64;
      }
    }

    &--outlined {
      background-color: transparent !important;

      color: $text-text-primary !important;

      box-shadow: inset 0 0 0 1.5px $stroke-stroke-gray-secondary;

      &:hover {
        background-color: $state-secondary-hover !important;
      }

      &:active {
        background-color: $state-background-gray-active !important;
      }

      &:disabled {
        opacity: 0.64;
      }
    }
  }

  &--contrast {
    &--primary {
      background-color: $background-white !important;

      color: $text-text-primary !important;

      &:hover {
        background-color: rgba($color: $background-white, $alpha: 0.9) !important;
      }

      &:active {
        background-color: $background-gray-tertiary !important;
      }

      &:disabled {
        opacity: 0.5;
      }
    }

    &--secondary {
      background-color: $background-gray !important;

      color: $text-text-primary !important;

      &:hover {
        background-color: $state-secondary-hover !important;
      }

      &:active {
        background-color: $state-background-gray-active !important;
      }

      &:disabled {
        opacity: 0.64;
      }
    }

    &--tertiary {
      background-color: transparent !important;

      color: $text-text-primary !important;

      &:hover {
        color: $state-background-accent-hover !important;
      }

      &:active {
        color: $state-background-accent-active !important;
      }

      &:disabled {
        opacity: 0.64;
      }
    }

    &--outlined {
      background-color: transparent !important;

      color: $text-text-primary !important;

      box-shadow: inset 0 0 0 1.5px $stroke-stroke-gray-secondary;

      &:hover {
        background-color: $state-secondary-hover !important;
      }

      &:active {
        background-color: $state-background-gray-active !important;
      }

      &:disabled {
        opacity: 0.64;
      }
    }
  }
}
