@import "~styles/variables";

.product {
  padding: 12px;

  border-radius: 20px;
  background-color: $background-gray;
}

.product__image {
  width: 212px;
  margin-bottom: 12px;
  overflow: hidden;

  background-color: rgba(239, 239, 239, 1);
  border-radius: 8px;

  img {
    max-width: 100%;
    max-height: 256px;
    object-fit: cover;
  }
}

.product__full-price {
  display: block;
  height: 18px;
  margin-bottom: 2px;

  font-size: 13px;
  line-height: 140%;
  text-decoration: line-through;
  color: $text-text-secondary;

  background-color: transparent;
}

.product__purchase-price {
  display: block;
  height: 25px;
  margin-bottom: 4px;

  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  color: $text-text-accent;

  background-color: transparent;
}

.product__title {
  margin-bottom: 4px;

  font-size: 15px;
  font-weight: 500;
  line-height: 140%;
}

.product__volume {
  display: block;
  margin-bottom: 12px;

  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  color: $text-text-secondary;
}

.product__button {
  display: block;
  width: 100%;
}
