@import "~styles/variables";

.product {
  display: flex;
  flex-direction: column;
  padding: 12px;

  border-radius: 20px;
  background-color: $background-gray;
}

.product__image {
  width: 212px;
  margin-bottom: 12px;
  grid-area: image;
  overflow: hidden;

  background-color: rgba(239, 239, 239, 1);
  border-radius: 8px;

  img {
    max-width: 100%;
    max-height: 256px;
    object-fit: cover;
  }
}

.product__info {
  display: grid;
  flex-grow: 1;

  grid-template-rows: auto 2px auto 4px auto 4px 1fr auto;
  grid-template-areas:
    "full"
    "."
    "purchase"
    "."
    "title"
    "."
    "volume"
    "button";
}

.product__full-price {
  display: block;
  height: 18px;
  grid-area: full;

  font-size: 13px;
  line-height: 140%;
  text-decoration: line-through;
  color: $text-text-secondary;

  background-color: transparent;
}

.product__purchase-price {
  display: block;
  height: 25px;
  grid-area: purchase;

  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  color: $text-text-accent;

  background-color: transparent;
}

.product__title {
  display: -webkit-box;
  max-height: 42px;
  overflow: hidden;
  grid-area: title;

  font-size: 15px;
  font-weight: 500;
  line-height: 140%;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.product__volume {
  display: block;
  margin-bottom: 12px;
  grid-area: volume;

  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  color: $text-text-secondary;
}

.product__button {
  display: block;
  width: 100%;
  grid-area: button;
}
