.products__top {
  margin-bottom: 24px;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: stretch;
  gap: 24px 8px;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product {
  max-width: 100%;
}

.product__link {
  display: block;
  height: 100%;

  text-decoration: none;
  color: inherit;
}

.product__card {
  height: 100%;
}
