@import "~styles/variables";

.header {
  display: grid;
  grid-template-columns: auto minmax(288px, 1300px) auto;
  grid-template-areas: ". inner .";
  gap: 70px;

  padding: 25px 0;

  border-bottom: 1px solid $stroke-stroke-gray-primary;
}

.header__inner {
  display: grid;
  align-items: center;
  grid-template-columns: auto 14px 131px 1fr 270px auto auto;
  grid-template-areas: "logo . catalog search location cart language";
  gap: 8px;
  grid-area: inner;
  height: 50px;
}

.header__logo {
  grid-area: logo;
}

.header__logo__icon {
  width: 170px;
  height: 50px;
}

@media only screen and (max-width: 1020px) {
  .header {
    gap: 0 25px;
  }
}

@media only screen and (max-width: 900px) {
  .header {
    padding: 6px 0;

    border-bottom: none;
  }

  .header__inner {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "catalog logo search";
    gap: 24px;
    height: 44px;
  }

  .header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__logo__icon {
    height: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    gap: 0 16px;
  }
}
