// Headings
@mixin h1-bold {
  margin: 0;

  font-size: 38px;
  font-weight: 700;
  line-height: 140%;
}

@mixin h1-medium {
  margin: 0;

  font-size: 38px;
  font-weight: 500;
  line-height: 110%;
}

@mixin h2-bold {
  margin: 0;

  font-size: 30px;
  font-weight: 700;
  line-height: 140%;
}

@mixin h2-medium {
  margin: 0;

  font-size: 30px;
  font-weight: 500;
  line-height: 110%;
}

@mixin h3-bold {
  margin: 0;

  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
}

@mixin h3-medium {
  margin: 0;

  font-size: 24px;
  font-weight: 500;
  line-height: 110%;
}

// Titles
@mixin title1-regular {
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}

@mixin title1-medium {
  font-size: 20px;
  font-weight: 500;
  line-height: 110%;
}

@mixin title1-semibold {
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
}

@mixin title2-regular {
  font-size: 17px;
  font-weight: 400;
  line-height: 130%;
}

@mixin title2-medium {
  font-size: 17px;
  font-weight: 500;
  line-height: 110%;
}

@mixin title2-semibold {
  font-size: 17px;
  font-weight: 600;
  line-height: 110%;
}

// Bodies
@mixin body1-regular {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}

@mixin body1-medium {
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
}

@mixin body1-semibold {
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
}

@mixin body2-regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

@mixin body2-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}

@mixin body2-semibold {
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
}

@mixin body3-regular {
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
}

@mixin body3-medium {
  font-size: 15px;
  font-weight: 500;
  line-height: 140%;
}

@mixin body3-semibold {
  font-size: 15px;
  font-weight: 600;
  line-height: 130%;
}

// Subheads
@mixin subhead-regular {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

@mixin subhead-medium {
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

@mixin subhead-semibold {
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
}

// Footnotes
@mixin footnote-regular {
  font-size: 13px;
  font-weight: 400;
  line-height: 140%;
}

@mixin footnote-medium {
  font-size: 13px;
  font-weight: 500;
  line-height: 140%;
}

@mixin footnote-semibold {
  font-size: 13px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.12px;
}

// Captions
@mixin caption-regular {
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
}

@mixin caption-medium {
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
}

@mixin caption-semibold {
  font-size: 12px;
  font-weight: 600;
  line-height: 140%;
}
