.heading {
  margin: 0;
}

.heading--h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 140%;
}

.heading--h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 140%;
}

.heading--h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
}

.heading--h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
}
