.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;
}

.info__icon {
  margin-bottom: 16px;
}

.info__title {
  margin-bottom: 12px;
}

.info__description {
  margin: 0;

  font-size: 17px;
  font-weight: 400;
  line-height: 130%;
}
