@import "~styles/variables";

.button {
  box-sizing: border-box;

  width: 44px;
  height: 44px;
  padding: 5px;
  margin: -10px;

  border: none;
  border-radius: 50%;
  background-color: transparent;

  color: inherit;

  cursor: pointer;

  &--primary {
    background-color: transparent !important;

    color: $icon-icon-accent !important;

    &:hover {
      background-color: $state-secondary-hover !important;
    }

    &:active {
      background-color: $state-background-gray-active !important;
    }

    &:disabled {
      opacity: 0.64;
    }
  }

  &--contrast {
    background-color: transparent !important;

    color: $icon-icon-primary !important;

    &:hover {
      color: $state-background-accent-hover !important;
    }

    &:active {
      color: $state-background-accent-active !important;
    }

    &:disabled {
      opacity: 0.64;
    }
  }

  svg {
    width: 24px;
    height: 24px;
  }
}
