@import "~styles/variables";

.card {
  display: grid;
  grid-template-columns: 48px 1fr;
  grid-template-areas:
    "image title"
    "image count";
  gap: 8px 12px;

  padding: 16px;

  border-radius: 16px;

  cursor: pointer;

  &:hover,
  &--active {
    background-color: $background-accent-primary;

    .card__image {
      box-shadow: 0 0 0 1.5px $stroke-stroke-contrast;
    }

    .card__title {
      color: $text-text-contrast;
    }

    .card__count {
      color: $text-text-contrast-secondary-alpha;
    }
  }
}

.card__image {
  grid-area: image;

  box-shadow: 0 0 0 1.5px $stroke-stroke-gray-secondary;
  border-radius: 8px;
}

.card__title {
  grid-area: title;

  margin: 0;

  font-size: 17px;
  font-weight: 600;
  line-height: 110%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: $text-text-primary;
}

.card__count {
  grid-area: count;

  font-size: 13px;
  font-weight: 500;
  line-height: 140%;

  color: $text-text-tertiary;

  &::first-letter {
    text-transform: uppercase;
  }
}
